<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MD CheatSheets</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/fonts.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/balloon.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="stylesheet" href="css/md-mod.css" />
    <link rel="stylesheet" href="css/hl/default.min.css" />
    <link rel="stylesheet" href="css/hl/atom-one-dark.css" />
    <link rel="manifest" href="manifest.json" />
    <link rel="shortcut icon" type="image/png" href="/img/logofinalx48.png" />
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="container contenido">
      <h1>Contenidos</h1>
      <div class="main">
        <main>
          <%- include('componentes/titulos') %>
          <hr>
          <%- include('componentes/card') %>
          <hr>
          <%- include('componentes/inputs') %>
          <hr>
          <%- include('componentes/texto') %>
          <hr>
          <%- include('componentes/botones') %>
          <hr>
          <%- include('componentes/tooltip') %>
          <hr>
          <%- include('componentes/alert') %>
          <hr>
          <%- include('componentes/tablas') %>
            
        </main>
        <aside>
          <h2>Categorías</h2>
          <ul>
            <li>
              <a href="#"
                ><i class="fa fa-chevron-circle-right"></i><span>Node</span></a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-chevron-circle-right"></i><span>NGINX</span></a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-chevron-circle-right"></i
                ><span>Webpack</span></a
              >
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-chevron-circle-right"></i
                ><span
                  >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dignissimos aperiam repudiandae explicabo veniam rem non,
                  debitis nisi suscipit praesentium dolorem?</span
                ></a
              >
            </li>
          </ul>
          <div></div>
        </aside>
      </div>
    </div>
    <!-- <div class="mensaje-ventana">
      <div class="cerrar">&times;</div>
      <div class="titulo">Titulo del mensaje</div>
      <section>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima vitae
        unde nesciunt officiis ea sit iure expedita commodi explicabo
        necessitatibus rerum beatae tenetur facilis nemo, optio aliquid. Iure
        voluptatum et eligendi consequuntur officia placeat ullam veniam natus!
        Quasi vero iusto vel pariatur.
      </section>
    </div> -->

    <script src="js/estilos.view.js"></script>
    <script src="js/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
