<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#161b22" />
    <title>MD CheatSheets</title>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>
    
    <div class="container contenido">
      <h1>Contenidos</h1>
      <div class="main">
        <main class="w-100">
          <% archivos.forEach(archivo=> { %>
          <div class="card">
            <a href="/md/<%= archivo.path %>" target="_blank" class="external-link">
              <i class="fa fa-external-link"></i>
            </a>
            <% if (credenciales.access === 1) { %>
              <a href="/edit/<%= archivo.path %>" class="btn-edit">
                <i class="fa fa-edit"></i>
              </a>
            <% } %>
            <div class="card-title">
              <a href="/md/<%= archivo.path %>"><%= archivo.titulo %></a>
            </div>
            <div class="card-body">
              <p>
                <%= archivo.descripcion %>
              </p>
            </div>
            <div class="card-footer">
              <div aria-label="Creación" data-balloon-pos="down"><i class="fa fa-file"></i> 22-08-2021</div>
              <div aria-label="Actualizado" data-balloon-pos="down"><i class="fa fa-calendar"></i> 22-08-2021</div>
              <% if (archivo.categoria) { %><div><img src="img/category/<%= archivo.categoriaUrl %>"> <%= archivo.categoria %></div><% } %>
            </div>
          </div>

          <% }) %>
        </main>

      </div>
    </div>

    <%- include('partials/scripts') %>

  </body>
</html>
