<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#161b22" />
    <title>MD CheatSheets</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/fonts.css" />
    <link rel="stylesheet" href="css/test.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <link rel="manifest" href="manifest.json" />
    <link rel="shortcut icon" type="image/png" href="/img/logofinalx48.png" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header">
          <div class="flex-align-items-center">
            <img src="img/logofinal.png" width="40px" />
            <h1 class="text-logo flex-align-items-center">MD CheatSheets</h1>
          </div>
          <nav>
            <ul>
              <li>
                <a href="add" class="icon-nav-link"><i class="fa fa-plus"></i></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="buscar" id="buscador">
        <div class="buscar-formulario">
          <input type="text" class="buscador-header-input">
          <a href="#" class="btn azul"><i class="fa fa-search"></i></a>
          <a href="#" class="btn rojo mb-0" id="cerrar-buscador"><i class="fa fa-times"></i></a>
        </div>
      </div>
    </header>
    <div class="container contenido">
      <h1>Contenidos</h1>
      <div class="main">
        <main class="w-100">
          <% archivos.forEach(archivo=> { %>
          <div class="card">
            <a href="/md/<%= archivo.path %>" target="_blank" class="external-link">
              <i class="fa fa-external-link"></i>
            </a>
            <a href="/edit/<%= archivo.path %>" class="btn-edit">
              <i class="fa fa-edit"></i>
            </a>
            <div class="card-title">
              <a href="/md/<%= archivo.path %>"><%= archivo.titulo %></a>
            </div>
            <div class="card-body">
              <p>
                <%= archivo.descripcion %>
              </p>
            </div>
            <div class="card-footer">
              <div><i class="fa fa-file"></i> 22-08-2021</div>
              <div><i class="fa fa-calendar"></i> 22-08-2021</div>
              <div><i class="fa fa-cubes"></i> Categoria</div>
            </div>
          </div>

          <% }) %>
        </main>

      </div>
    </div>

    <script src="js/test.js"></script>

  </body>
</html>
